@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");

@import url("./mapContainer.scss");
@import url("./footer.scss");

body {
  background-color: #bebebe;
  font-family: "Share Tech Mono", monospace;
}

.tooltip {
  position: absolute;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: none;
  transform: translateX(50px);
  color: white;
  border-radius: 3px;
  border: 1px solid white;
}

.squarePos {
  position: absolute;
  fill: none;
  stroke: rgba(255, 255, 255, 0.3);
  //   stroke-dasharray: 4pt 2pt;
  stroke-width: 2pt;
  transition: all 0.15s ease;
}
